.animation-block {
  font-size: $font-size;

  &__display {
    color: $other-color;
    padding: 40px;
    background: $dark-blue;
    width: $all-width;
    max-width: 100%;
    display: none;
  }

  &__btn-one {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: $other-color;
    padding: 0 20px;
    line-height: 55px;
    background: $dark-blue;

    &:hover {
      color: $dark-blue;
      background: $other-color;
    }
  }

  &__checkbox {
    position: absolute;
    visibility: hidden;
    bottom: 9999px;

    &:checked ~ .animation-block__display {
      animation-duration: $duration;
      animation-name: anim;
      animation-fill-mode: forwards;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%);
      display: block;

      @keyframes anim {
        from {
          transform: translateX(-50%) translateY(-50%) scale(0.5);
        }

        to {
          transform: translateX(-50%) translateY(-70%) scale(1);
        }
      }
    }
  }

  &__btn-two {
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 0 4px;
    color: $other-color;
    font-size: 13px;
    border: 1px solid $other-color;
    cursor: pointer;
    line-height: 20px;

    &:hover {
      color: $dark-blue;
      background: $other-color;
    }

    &:after {
      content: "X";
    }
  }

  &__p-second {
    text-align: center;
    margin-top: 20px;
  }
}
